<div class="checkout">
  <header>
    <div class="back" routerLink="/">
      <fa-icon [icon]="faArrowLeft" />
      <span>Checkout</span>
    </div>
    <div class="steps">
      <div class="delivery">
        <fa-icon [icon]="faArrowCircleRight" />
        <span>Delivery</span>
      </div>
      <div class="payment">
        <fa-icon [icon]="faArrowCircleRight" />
        <span>Payment</span>
      </div>
    </div>
  </header>

  <main>
    <app-checkout-delivery [items]="cartItems()"/>
  </main>

  <footer>
    <div class="total">
      <span>${{totalPrice()}}</span>
    </div>
    <button>
      Confirm
      <fa-icon [icon]="faCheck" />
    </button>
  </footer>

</div>
