<div class="checkout">
  <header>
    <div class="back" routerLink="/">
      <fa-icon [icon]="faArrowLeft" />
      <span>Checkout</span>
    </div>
    <div class="steps">
      <div (click)="changeToDelivery()" class="delivery" [class.active]="isOnDelivery()" [class.done]="isOnPayment()">
        @if (isOnDelivery()) {
          <fa-icon [icon]="faArrowCircleRight" />
        } @else {
          <fa-icon [icon]="faCircleCheck" />
        }
        <span>Delivery</span>
      </div>
      <div class="payment" [class.active]="isOnPayment()">
        <fa-icon [icon]="faArrowCircleRight" />
        <span>Payment</span>
      </div>
    </div>
  </header>


  @if (orderSuccess()) {
    <div class="success-message">
      <fa-icon [icon]="faCircleCheck" class="success-icon" />
      <span>Your order has been placed successfully!</span>
    </div>

    <div class="success-actions">
      <button routerLink="/" class="go-home">
        <fa-icon [icon]="faArrowLeft" />
        Continue Shopping
      </button>
      <button routerLink="/" class="go-orders">
        <fa-icon [icon]="faArrowRight" />
        View My Orders
      </button>
    </div>
  }


  @if (!orderSuccess()) {
    <main>
      @if (isOnDelivery()) {
        <app-checkout-delivery
          [items]="cartItems()"
          [addresses]="addresses"
          (selectedAddressChange)="shippingAddress = $event"
        />
      } @else {
        <app-checkout-payment (paymentMethodChange)="paymentMethod = $event" />
      }
    </main>

    <footer>
      <div class="total">
        Total:
        <span>${{ totalPrice().toFixed(2) }}</span>
      </div>
      <button (click)="onProceedClick()" [class.payment]="isOnPayment()">
        @if (isOnDelivery()) {
          Confirm
          <fa-icon [icon]="faCheck" />
        } @else {
          Proceed
          <fa-icon [icon]="faArrowRight" />
        }
      </button>
    </footer>
  }



</div>
