<div class="checkout">
  <header>
    <div class="back" routerLink="/">
      <fa-icon [icon]="faArrowLeft" />
      <span>Checkout</span>
    </div>
    <div class="steps">
      <div class="delivery" [class.active]="isOnDelivery()">
        @if (isOnDelivery()) {
          <fa-icon [icon]="faArrowCircleRight" />
        } @else {
          <fa-icon [icon]="faCircleCheck" />
        }
        <span>Delivery</span>
      </div>
      <div class="payment" [class.active]="!isOnDelivery()">
        <fa-icon [icon]="faArrowCircleRight" />
        <span>Payment</span>
      </div>
    </div>
  </header>

  <main>
    @if (isOnDelivery()){
      <app-checkout-delivery [items]="cartItems()"/>
    }@else{
      <app-checkout-payment />
    }
  </main>

  <footer>
    <div class="total">
      Total:
      <span>${{totalPrice().toFixed(2)}}</span>
    </div>
    <button (click)="changeToPayment()" [class.payment]="!isOnDelivery()">
      @if (isOnDelivery()){
        Confirm
        <fa-icon [icon]="faCheck" />
      }@else{
        Proceed
        <fa-icon [icon]="faArrowRight" />
      }
    </button>
  </footer>

</div>
