<div class="overlay" *ngIf="isExpanded"></div>
<div class="navbar" [class.visible]="isVisible" [class.hidden]="!isVisible" appSwipeDown (swipeDown)="isExpanded && toggleCart()">
  <div class="closed-navbar" *ngIf="!isExpanded">
    <div *ngIf="isDesktop" class="logo">Your Webshop</div>
    <div class="active-indicator" [ngClass]="selectedPage()===pages.HOME ? 'home' : 'profile'"></div>
    <div class="navigate-icon" (click)="togglePage(pages.HOME)" [class.active]="selectedPage() === pages.HOME">
      <fa-icon [icon]="faHouse" />
    </div>
    <div class="navigate-icon" (click)="togglePage(pages.PROFILE)" [class.active]="selectedPage() === pages.PROFILE">
      <fa-icon [icon]="faUser" />
    </div>
  </div>
  <div class="swipe-gesture" *ngIf="isExpanded"></div>
  <span class="cart-header" *ngIf="isExpanded">Cart</span>
  <app-cart *ngIf="isExpanded" [cartItems]="cartItems()"></app-cart>
  <div class="cart-details" *ngIf="isExpanded">
    <div class="total">
      <span>Total:</span>
      <span>${{totalPrice().toFixed(2)}}</span>
    </div>
    <div class="delivery">
      <span>Delivery cost:</span>
      <span>+ $12</span>
    </div>
  </div>
  <div *ngIf="!isDesktop" class="cart-container" [class.expanded]="isExpanded" (click)="!isExpanded ? toggleCart() : resetOverflow()" [routerLink]="isExpanded ? '/checkout' : null">
    @if (isExpanded) {
      <span>Checkout
       <fa-icon [icon]="faArrowRight"></fa-icon>
      </span>
    } @else {
      <fa-icon [icon]="faCartShopping"></fa-icon>
    }
  </div>
</div>
<div *ngIf="isDesktop" class="cart-container" [class.expanded]="isExpanded" (click)="!isExpanded ? toggleCart() : resetOverflow()" [routerLink]="isExpanded ? '/checkout' : null">
  @if (isExpanded) {
    <span>Checkout
       <fa-icon [icon]="faArrowRight"></fa-icon>
      </span>
  } @else {
    <fa-icon [icon]="faCartShopping"></fa-icon>
  }
</div>
