<div class="profile">
  <div class="user-info">
    <div class="name-and-heading">
      <span>Hello, {{user.firstName}}</span>
      <h3>Manage your profile from here</h3>
    </div>
    <div class="avatar">
      <fa-icon [icon]="faUser" />
    </div>
  </div>
  <div class="settings">
    <div class="nav-buttons" *ngIf="!isDesktop()">
      <button (click) = "changeTab(tabs.info)" [class.toggled]="selectedTab === tabs.info">
        <fa-icon [icon]="faInfo" />
        Your Info</button>
      <button (click) = "changeTab(tabs.address)" [class.toggled]="selectedTab === tabs.address">
        <fa-icon [icon]="faAddressCard" />
        Addresses</button>
    </div>
    @if(selectedTab === tabs.info && !isDesktop()){
      <app-profile-info [user]="user" (userUpdated)="onUserUpdated($event)" />
    } @else if(selectedTab === tabs.address && !isDesktop()){
      <app-profile-addresses [addresses]="addresses" />
    } @else {
      <app-profile-info [user]="user" (userUpdated)="onUserUpdated($event)" />
      <app-profile-addresses [addresses]="addresses" />
    }
  </div>
  <div class="past-orders">
    <span>Past orders</span>
  </div>
</div>
