<div class="profile">
  <div class="user-info">
    <div class="name-and-heading">
      <span>Hello, Max</span>
      <h3>Manage your profile from here</h3>
    </div>
    <div class="avatar">
      <fa-icon [icon]="faUser" />
    </div>
  </div>
  <div class="settings">
    <div class="buttons">
      <button>
        <fa-icon [icon]="faInfo" />
        Your Info</button>
      <button>
        <fa-icon [icon]="faAddressCard" />
        Addresses</button>
    </div>
    <div class="settings-content">
      <label>Full Name</label>
      @if (profileEditMode){
        <input type="text" placeholder="Max Verstappen" />
      }@else{
        <span>Max Verstappen</span>
      }
      <label>Username</label>
      @if (profileEditMode){
        <input type="text" placeholder="maxverstappen" />
      }@else{
        <span>maxverstappen</span>
      }
      <label>Email</label>
      @if (profileEditMode){
        <input type="email" placeholder="max.verstappen@redbull.com" />
      }@else{
        <span>max.verstappen{{"@"}}redbull.com</span>
      }
      <label>Phone</label>
      @if (profileEditMode){
        <input type="tel" placeholder="+31 6 12345678" />
      }@else{
        <span>+31 6 12345678</span>
      }
      <div class="buttons">
        <button [class.toggled]="profileEditMode" (click)="toggleProfileEditMode()">
          <fa-icon *ngIf="profileEditMode" [icon]="faX" />
          <fa-icon *ngIf="!profileEditMode" [icon]="faPencil" />
          {{profileEditMode ? 'Cancel' : 'Edit'}}
        </button>
        @if(profileEditMode){
          <button>
            <fa-icon [icon]="faSave" />
            Save
          </button>
        }
      </div>
    </div>
  </div>
  <div class="past-orders">
    <span>Past orders</span>
  </div>
</div>
