<div class="checkout-delivery">
  <span class="delivery-section">Delivery Address</span>
  <div class="addresses">
    <div class="add-address">
      <fa-icon [icon]="faPlus" />
    </div>
    @for(address of addresses; track address.id) {
      <div class="address" (click)="setSelectAddress(address)">
        <span>{{address.address}}</span>
        <span>{{address.postalCode + ' ' +  address.city}}</span>
        <span>{{address.country}}</span>

        <span *ngIf="selectedAddress.id === address.id" class="checked-address">
          Delivery Address
          <fa-icon [icon]="faCheckCircle"/>
        </span>
      </div>
    }
  </div>
  <span class="delivery-section">Order Summary</span>
  @for (item of items; track item.id) {
    <div class="order-summary">
      <div class="white-line"></div>
      <div class="order-item-detail">
        <span class="name">
          {{item.name}}
        </span>
        <span class="qty">
          Qty:{{item.quantity}}
        </span>
        <span class="price">
          ${{item.price}}
        </span>
      </div>
    </div>
  }
</div>
