<div class="profile-info">
  <label>Full Name</label>
  @if (profileEditMode){
    <input type="text" placeholder="{{user?.firstName + ' ' + user?.lastName}}" />
  }@else{
    <span>{{user?.firstName + " " + user?.lastName}}</span>
  }
  <label>Username</label>
  @if (profileEditMode){
    <input type="text" placeholder="{{user?.userName}}" />
  }@else{
    <span>{{user?.userName}}</span>
  }
  <label>Email</label>
  @if (profileEditMode){
    <input type="email" placeholder="{{user?.email}}" />
  }@else{
    <span>{{user?.email}}</span>
  }
  <label>Phone</label>
  @if (profileEditMode){
    <input type="tel" placeholder="{{user?.phone}}" />
  }@else{
    <span>{{user?.phone}}</span>
  }
  <div class="buttons">
    <button [class.toggled]="profileEditMode" (click)="toggleProfileEditMode()">
      <fa-icon *ngIf="profileEditMode" [icon]="faX" />
      <fa-icon *ngIf="!profileEditMode" [icon]="faPencil" />
      {{profileEditMode ? 'Cancel' : 'Edit'}}
    </button>
    @if(profileEditMode){
      <button>
        <fa-icon [icon]="faSave" />
        Save
      </button>
    }
  </div>
</div>
