<div class="profile-info" *ngIf="user">
  <label>Full Name</label>
  <div *ngIf="profileEditMode">
    <input type="text" [(ngModel)]="user.firstName" placeholder="First Name" />
    <input type="text" [(ngModel)]="user.lastName" placeholder="Last Name" />
  </div>
  <div *ngIf="!profileEditMode">
    <span>{{ user.firstName + ' ' + user.lastName }}</span>
  </div>

  <label>Username</label>
  <div *ngIf="profileEditMode">
    <input type="text" [(ngModel)]="user.username" placeholder="{{ user.username }}" />
  </div>
  <div *ngIf="!profileEditMode">
    <span>{{ user.username }}</span>
  </div>

  <label>Email</label>
  <div *ngIf="profileEditMode">
    <input type="email" [(ngModel)]="user.email" placeholder="{{ user.email }}" />
  </div>
  <div *ngIf="!profileEditMode">
    <span>{{ user.email }}</span>
  </div>

  <label>Phone</label>
  <div *ngIf="profileEditMode">
    <input type="tel" [(ngModel)]="user.phone" placeholder="{{ user.phone }}" />
  </div>
  <div *ngIf="!profileEditMode">
    <span>{{ user.phone }}</span>
  </div>

  <div *ngIf="errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
  </div>

  <div class="buttons">
    <button [class.toggled]="profileEditMode" (click)="toggleProfileEditMode()">
      <fa-icon *ngIf="profileEditMode" [icon]="faX" />
      <fa-icon *ngIf="!profileEditMode" [icon]="faPencil" />
      {{ profileEditMode ? 'Cancel' : 'Edit' }}
    </button>
    <button *ngIf="profileEditMode" (click)="saveProfileChanges()">
      <fa-icon [icon]="faSave" />
      Save
    </button>
  </div>
</div>
